<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="hware.rondapp" android:versionCode="3" android:versionName="1.1 Anakin">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<application android:label="RondApp" android:icon="@drawable/rondaCarita" android:theme="@style/RondAppTheme" android:debuggable="false">
    <!-- Production Key -->
    <!--meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAD01o1NesrqjZ7bPNdqS4GLK04qiOqnsU" /-->
    <!-- Marco's development Key -->
    <!--meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDeaMLAn8a0N9qAIdeYYiTkbdMO_8houTE" /-->
    <!-- Andrea's development Key -->
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCPDQMVu4IRjcDkeU9RFEYeq6TY1mBkZAQ" />
  </application>
</manifest>