<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="12365AndreaBiancini.RondApp" Publisher="CN=4A7DB48F-6E45-4A04-B531-9704C904B9A1" Version="1.1.0.4" />
  <mp:PhoneIdentity PhoneProductId="8c816ee7-56a0-4871-8017-bae7097337b0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RondApp</DisplayName>
    <PublisherDisplayName>Andrea Biancini</PublisherDisplayName>
    <Logo>Assets\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RondApp.WinPhone.App">
      <m3:VisualElements DisplayName="RondApp" Square150x150Logo="Assets\RondaLogo150x150.jpg" Square44x44Logo="Assets\RondaLogo44x44.jpg" Description="app descr" ForegroundText="light" BackgroundColor="#FFF2CF" ToastCapable="true">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\Badge.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\RondaLogo310x150.jpg" Square71x71Logo="Assets\RondaLogo71x71.jpg">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.jpg" BackgroundColor="#FFF2CF" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>