<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="12365AndreaBiancini.RondApp" Publisher="CN=4A7DB48F-6E45-4A04-B531-9704C904B9A1" Version="1.1.5.0" />
  <mp:PhoneIdentity PhoneProductId="f736c883-f105-4d30-a719-4bf328872f5e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RondApp</DisplayName>
    <PublisherDisplayName>Andrea Biancini</PublisherDisplayName>
    <Logo>Assets\RondaLogoStore.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RondApp.UWP.App">
      <uap:VisualElements DisplayName="RondApp" Square150x150Logo="Assets\RondaLogo150x150.jpg" Square44x44Logo="Assets\RondaLogo44x44.jpg" Description="Applicazione a supporto dei volontari del serale di Ronda della Carità e della Solidarietà." BackgroundColor="#FFF2CF">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Badge.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\RondaLogo310x150.jpg" ShortName="RondApp" Square71x71Logo="Assets\RondaLogo71x71.jpg" Square310x310Logo="Assets\RondaLogo310x310.jpg">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.jpg" BackgroundColor="#FFF2CF" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>